#smartphones-img {
  background: url(../assets/illustration.svg) top/cover;
  margin-top: 5rem;
}

section {
  & header {

    & h2 {
      margin-top: .5rem;

    }
    & strong {
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: 0.08em;
      text-transform: uppercase;

      color: var(--brand-color-primary);
    }
  }
  & p {
    margin-top: .5rem;
    color: var(--text-color-secondary);
    }

}

@media (width >=80em) {
  #smartphones-img {
    display: none;
  }
}